:root {
	--custom-color-white: #ffffff;
	--custom-color-black: #000000;
	--custom-color-red: #CD2B38;
	--custom-color-green: #009246;
  --custom-color-yellow: #DEB142;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

  /* font */
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav > ul  {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

ul  {
  list-style: none;
}

section {
  min-height: 100vh;
}

/* common */

.common__button {
  background-color: var(--custom-color-yellow);
  border: none;
  height: 42px;
  color: var(--custom-color-white);
  text-transform: capitalize;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* header */

.header__drop-downs {
  display: flex;
  flex-direction: row;
}

.header__drop-down--switch-lang {
  display: flex;
  flex-direction: row;
}

/* home */

#home {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

/* about-us */

#about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.about-us__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.about-us__images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

/* our-projects */

#our-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.our-projects__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.our-projects__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* work-process */

#work-process {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.work-process__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.work-process__image {
  display: flex;
  flex-direction: column;
}

/* footer */

.footer__footer--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer__footer--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* contact */

#contact {
  display: flex;
  flex-direction: row;
}

.contact__contact--form {
  background-image: url(/images/map.png);
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__contact--img {
  width: 40%;
  height: 912px;
}

/* feedback */

#feedback {
  display: flex;
  flex-direction: column;
}

.feedback__feedback--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feedback__feedback--cards {
  display: flex;
  flex-direction: row;
}
