:root {
	--custom-color-white: #ffffff;
	--custom-color-black: #000000;
	--custom-color-red: #CD2B38;
	--custom-color-green: #009246;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

  /* font */
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav > ul  {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

ul  {
  list-style: none;
}

section {
  min-height: 100vh;
}

.header__drop-downs {
  display: flex;
  flex-direction: row;
}

.header__drop-down--switch-lang {
  display: flex;
  flex-direction: row;
}

.footer__footer--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.footer__footer--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#contact {
  display: flex;
  flex-direction: row;
}

.contact__contact--form {
  background-image: url(/images/map.png);
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__contact--img {
  width: 40%;
  height: 912px;
}
